@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* 
{
  font-family: Open Sans;
}

.Pied
{
	background: green;
    box-shadow: 0 0 10px black;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 30px 50px;
}

.Pied .Gauche,
.Pied .centre,
.Pied .droite
{
	display: inline-block;
	vertical-align: top;
}

/* Gauche */

#Tech
{
	color: red;
}

#Del
{
	color: green;
}

#Tech, #Del
{
	font-family:'Campus_MN', impact;
	font-size: 3.5em;
	text-shadow:0 0 0.4em black, 0 0 0.2em black;
}

.Pied .Gauche
{
	width: 40%;
}

/* Logo */

.Pied h3
{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.Pied h3 span
{
	color:  #fff;
}

/* Liens */

.Pied .Liens
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.Pied .Liens a
{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.Pied .entreprise
{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Centre */

.Pied .centre
{
	width: 35%;
}

.Pied .centre i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.Pied .centre i.mail
{
	font-size: 17px;
	line-height: 38px;
}

.Pied .centre p
{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.Pied .centre p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.Pied .centre p a
{
	color:  rgb(126, 3, 3);
	text-decoration: none;;
}

.Pied .Liens a:before 
{
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.Pied .Liens .Accueil:before 
{
    content: none;
}

/* Droite */

.Pied .droite
{
	width: 20%;
}

.Pied .propos
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.Pied .propos span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.Pied .Icons
{
	margin-top: 25px;
}

.Pied .Icons a
{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Responsive */

@media (max-width: 990px) 
{

    .Pied
    {
	    font: bold 14px sans-serif;
	}

	.Pied .Gauche,
	.Pied .centre,
    .Pied .droite
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .Pied .centre i
    {
		margin-left: 0;
	}
}